body
{
	margin: 0 auto;
	font-family: "Microsoft YaHei" ! important;
	font-size: 13px;
	font-weight: normal;	
	line-height: 1.5;
}

ul,li,h1,h2,h3,h4,h5,h6,p,form,dl,dt,dd
{
	margin: 0;
	padding: 0;
}

ul
{
	list-style: none;
}

ul li
{
	float: left;
}

img
{
	border: 0px;
}

.header
{
	background-color: #85c80f;
	color:#fff;
	overflow: auto;
	height: 45px;
}

.header a:link
{
	color: #fff;
}

.header a:visited
{
	color: #fff;
}

.headerleft
{
	float: left;
	margin-left: 3.125%;
}

.headerright
{
	margin-left: 62.5%;
}

.content
{
	background-color: #e1f9b5;
	height: 425px;
}

.content_li
{
	width: 100%;
	overflow: auto;
}

.content_li ul li
{
	display: inline;
	text-align: center;	
	width: 33.33%;
}

.footer
{
	background-color: #85c80f;
	height: 74px;
}

.footer_li
{
	width: 100%;
	overflow: auto;
	margin: auto;
}

.footer_li ul li
{
	display: inline;
	text-align: center;	
	width: 33.33%;
}