<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta charset="utf-8">
	<title>分类记录</title>
	<meta name="author" content="picklecai"> 
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="/github/babyrecord/assets/css/baby.css" type="text/css">
</head>

<body>

<div class="header">
	<div class="headerleft">
		<ul>
			<li>{babyname},{babygender}</li>
			<li>{babyage}</li>
		</ul>
	</div>
	<div class="headerright">
		<img src="/github/babyrecord/assets/images/search.png" width="30" height="30"/>
		<img src="/github/babyrecord/assets/images/mail.png" width="30" height="30"/>
		<img src="/github/babyrecord/assets/images/camera.png" width="30" height="30"/>
	</div>
</div>

<div class="content">
	<div class="content_li">
		<ul>
			<li><a href=""><img src="/github/babyrecord/assets/images/game.png" width="50" height="50"/>游戏</a></li>
			<li><a href=""><img src="/github/babyrecord/assets/images/concept.png" width="50" height="50"/>概念</a></li>
			<li><a href=""><img src="/github/babyrecord/assets/images/talk.png" width="50" height="50"/>语言</a></li>
			<li><a href=""><img src="/github/babyrecord/assets/images/beauty.png" width="50" height="50"/>审美</a></li>
			<li><a href=""><img src="/github/babyrecord/assets/images/tech.png" width="50" height="50"/>技能</a></li>
			<li><a href=""><img src="/github/babyrecord/assets/images/add2.png" width="50" height="50"/>添加</a></li>
		</ul>
	</div>
</div>

<div class="footer">
	<div class="footer_li">
		<ul>
			<li><a href=""><img src="/github/babyrecord/assets/images/classify.png" width="50" height="50"/>分类记录</a></li>
			<li><a href=""><img src="/github/babyrecord/assets/images/free.png" width="50" height="50"/>自由记录</a></li>
			<li><a href=""><img src="/github/babyrecord/assets/images/tucao.png" width="50" height="50"/>我要吐槽</a></li>
		</ul>
	</div>
</div>

</body>
</html>