<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>分类记录</title>
	<meta name="author" content="picklecai"> 
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="/assets/css/baby.css">
</head>

<body>

<div>
	<div>
		<ul>
			<li>{babyname},{babygende}r</li>
			<li>{babyage}</li>
		</ul>
	</div>
	<div>
		<img src="/assets/images/search.png" width="30" height="30"/>
		<img src="/assets/images/mail.png" width="30" height="30"/>
		<img src="/assets/images/camera.png" width="30" height="30"/>
	</div>
</div>

<div>
	<div>
		<ul>
			<li><img src="/assets/images/game.png" width="50" height="50"/></li>
			<li>游戏</li>
			<li><img src="/assets/images/talk.png" width="50" height="50"/></li>
			<li>语言</li>			
			<li><img src="/assets/images/tech.png" width="50" height="50"/></li>
			<li>技能</li>
			<li><img src="/assets/images/concept.png" width="50" height="50"/></li>
			<li>概念</li>
			<li><img src="/assets/images/beauty.png" width="50" height="50"/></li>
			<li>审美</li>
			<li><img src="/assets/images/add2.png" width="50" height="50"/></li>
			<li>添加</li>

<div>
	<div>
		<ul>
			<li><img src="/assets/images/classify.png" width="50" height="50"/></li>
			<li>分类记录</li>
			<li><img src="/assets/images/free.png" width="50" height="50"/></li>
			<li>自由记录</li>
			<li><img src="/assets/images/tucao.png" width="50" height="50"/></li>
			<li>我要吐槽</li>
		</ul>
	</div>
</div>

		</ul>
	</div>
</div>

</body>
</html>