<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta charset="utf-8">
	<title>分类记录</title>
	<meta name="author" content="picklecai"> 
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="/github/babyrecord/assets/css/baby.css" type="text/css">

</head>

<body>

<div class="header">
	<div class="headerleft" onclick="showandhidden(babymenu)";>
		{babyname},{babygender}
		</br>
		{babyage}
	</div>
	<div class="headerright">
		<span style="float:right"><a href="/github/babyrecord/templates/takephoto.html"><img src="/github/babyrecord/assets/images/camera.png" width="30" height="30"/></a></span>
		<span style="float:right"><a href="/github/babyrecord/templates/sendmail.html"><img src="/github/babyrecord/assets/images/mail.png" width="30" height="30"/></a></span>
		<span style="float:right" style="float:right"><img src="/github/babyrecord/assets/images/search.png" width="30" height="30" onclick="showandhidden(searchbar);" /></span>
		<span style="float:right"><a href="/github/babyrecord/templates/add.html"><img src="/github/babyrecord/assets/images/add.png" width="30" height="30"/></a></span>	
	</div>	
</div>

<div id="babymenu" style="visibility:hidden">
	<div class="menu">
		<ul>
			<li><a href="/github/babyrecord/templates/addbaby.html"></a>添加新宝宝</li>
			<li><a href="/github/babyrecord/templates/updatebaby.html"></a>编辑宝宝信息</li>
		</ul>
	</div>
</div>

<div id="searchbar" style="visibility:hidden; float:right; width:50%; margin-right:0px; ">
	<input id="search" name="search" type="text" />
</div>

<div class="content">

</div>

<div class="footer">
	<div class="footer_li">
		<ul>
			<li><a href="/github/babyrecord/templates/index.html"><img src="/github/babyrecord/assets/images/classify.png" width="50" height="50"/></a></li>			
			<li><a href="/github/babyrecord/templates/free.html"><img src="/github/babyrecord/assets/images/free.png" width="50" height="50"/></a></li>			
			<li><a href="/github/babyrecord/templates/feedback.html"><img src="/github/babyrecord/assets/images/tucao.png" width="50" height="50"/></a></li>
		</ul>
	</div>
	<div class="footer_li">
		<ul>
			<li>分类记录</li>
			<li>自由记录</li>
			<li>我要吐槽</li>
		</ul>
	</div>
</div>

<script type="text/javascript">
	function showandhidden(div1){
		if(div1.style.visibility=='hidden')
			{
				div1.style.visibility='';
			}
		else
			{
				div1.style.visibility='hidden';
			} 
		}
</script> 

</body>
</html> 