<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta charset="utf-8">
	<title>分类记录</title>
	<meta name="author" content="picklecai"> 
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="/github/babyrecord/assets/css/baby.css" type="text/css">

</head>

<body>

<div class="header">
	<div class="headerleft" onclick="showandhidden();">
		{babyname},{babygender}
		</br>
		{babyage}
	</div>
	<div class="headerright">
		<a href="/github/babyrecord/templates/search.html"><img src="/github/babyrecord/assets/images/search.png" width="30" height="30"/></a>
		<a href="/github/babyrecord/templates/sendmail.html"><img src="/github/babyrecord/assets/images/mail.png" width="30" height="30"/></a>
		<a href="/github/babyrecord/templates/takephoto.html"><img src="/github/babyrecord/assets/images/camera.png" width="30" height="30"/></a>
	</div>	
</div>

<div id="babymenu" style="display:none">
	<div class="menu">
		<ul>
			<li><a href="/github/babyrecord/templates/addbaby.html"></a>添加新宝宝</li>
			<li><a href="/github/babyrecord/templates/updatebaby.html"></a>编辑宝宝信息</li>
		</ul>
	</div>
</div>

<div class="content">
	<div class="content_li">
		<ul>
			<li><a href="/github/babyrecord/templates/readgame.html"><img src="/github/babyrecord/assets/images/game.png" width="50" height="50"/></a></li>
			<li><a href=""><img src="/github/babyrecord/assets/images/concept.png" width="50" height="50"/></a></li>
			<li><a href=""><img src="/github/babyrecord/assets/images/talk.png" width="50" height="50"/></a></li>
		</ul>
	</div>
	<div class="content_li">
		<ul>
			<li>游戏</li>
			<li>概念</li>
			<li>概念</li>
		</ul>
	</div>
	<div class="content_li">
		<ul>
			<li><a href=""><img src="/github/babyrecord/assets/images/beauty.png" width="50" height="50"/></a></li>
			<li><a href=""><img src="/github/babyrecord/assets/images/tech.png" width="50" height="50"/></a></li>
			<li><a href=""><img src="/github/babyrecord/assets/images/add2.png" width="50" height="50"/></a></li>
		</ul>
	</div>
	<div class="content_li">
		<ul>
			<li>审美</li>
			<li>技能</li>
			<li>添加</li>
		</ul>
	</div>
</div>

<div class="footer">
	<div class="footer_li">
		<ul>
			<li><a href="/github/babyrecord/templates/index.html"><img src="/github/babyrecord/assets/images/classify.png" width="50" height="50"/></a></li>			
			<li><a href="/github/babyrecord/templates/free.html"><img src="/github/babyrecord/assets/images/free.png" width="50" height="50"/></a></li>			
			<li><a href="/github/babyrecord/templates/feedback.html"><img src="/github/babyrecord/assets/images/tucao.png" width="50" height="50"/></a></li>
		</ul>
	</div>
	<div class="footer_li">
		<ul>
			<li>分类记录</li>
			<li>自由记录</li>
			<li>我要吐槽</li>
		</ul>
	</div>
</div>

<script type="text/javascript"> 
	function showandhidden(){ 
		var div1=document.getElementById("babymenu"); 
		if(div1.style.display=='none')
			{
				div1.style.display='block';
			}
		else
			{
				div1.style.display='none';
			} 
		}
</script> 

</body>
</html> 